@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:600&display=swap');



body
{
    background-image: url(/img/Q-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.wording
{
    color: #ffb91d;
    text-align: center;
}