@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:600&display=swap');
*
{
    padding: 0;
    margin: 0;

}

body
{
    background-image: url(/img/Q-back.jpg);
    background-size: cover;
    background-repeat: no-repeat
}